{% load static %}        {#Loads the CSS from styles#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {#Loads the CSS from styles #}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body>
<div class="container">
    <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
            </li>
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                      data-toggle="tab">Profile</a>
            </li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                       data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab"
                                       data-toggle="tab">Settings</a></li>
            <li role="presentation"><a href="#custom" aria-controls="settings" role="tab"
                                       data-toggle="tab">custom</a></li>
            <li role="presentation"><a href="#photos" aria-controls="Photos" role="tab"
                                       data-toggle="tab">Photos</a></li>
            <li role="presentation"><a href="#javascript" aria-controls="javascript" role="tab"
                                       data-toggle="tab">javascript</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="home">
                This is Home Tab
            </div>
            <div role="tabpanel" class="tab-pane active fade" id="profile">
                This is Profile Tab
            </div>
            <div role="tabpanel" class="tab-pane fade" id="messages">
                This is Message tab
            </div>
            <div role="tabpanel" class="tab-pane fade" id="settings">
                This is settings tab
            </div>
            <div role="tabpanel" class="tab-pane fade" id="custom">
                This is my custom tab
                <button type="button" class="btn btn-lg btn-danger my-popover" data-placement="right"
                        data-toggle="popover" title="Popover title"
                        data-content="And here's some amazing content. It's very engaging. Right?">Click to toggle
                    popover
                </button>

                <button class="btn btn-info" id="test-btn"> Test Btn</button>
                <div class="error-message" style="display: none">
                    <p class="text-danger">Invalid Password</p>
                </div>


            </div>

            <div role="tabpanel" class="tab-pane fade" id="photos">
                <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="{% static 'images/9615.jpg' %}" alt="..." class="img-responsive"
                                         style="width: 50%">
                                    <div class="carousel-caption">
                                        THE WORLD !
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{% static 'images/37698149_1743706825744813_3670866324067713024_n.jpg' %}"
                                         alt="..." class="img-responsive" style="width: 50%">
                                    <div class="carousel-caption">
                                        This is electroencephalogram
                                    </div>
                                </div>
                                ...
                                <div class="item">
                                    <img src="{% static 'images/IMG_1793.JPG' %}"
                                         alt="...">
                                    <div class="carousel-caption">
                                        A photo at Jomsom
                                    </div>
                                </div>

                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <div role="tabpanel" class="tab-pane fade" id="javascript">
                This is Javascript tab
                <button id="another-btn"> Test Button</button>
                <div id="message-div" style="display:none">
                    Helloworld !!
                </div>
            </div>

        </div>

    </div>

</div>
<script>
    $('.my-popover').popover()

    $('#test-btn').click(function () {
        $('.error-message').toggle()

    })
    $('#another-btn').click(function () {
        if(confirm('Do you want to display message?')){
            $('#message-div').toggle()
        }
    })
</script>
</body>
</html>


